header {
    display: flex;
    justify-content: space-between;
    background-color: #4275f5;
    color: white;
    padding-left: 100px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none;
    padding-right: 100px;
}

section {
    dispaly: justify-content;
    padding-top: 20px;
    padding-bottom: 20px;
}

div {
    background-color: #F0EFEF;
}

.tabs {
    color: white;
    text-decoration: none;
    float: right;
}

.page-titles {
    text-align: center;
    margin: 0;
}

.project-photos {
    text-align: center;
    width:  300px;
    height: 300px;
    padding: 20px 20px 20px 20px
}

#profile {
    text-align: center;
}

#profile-photo {
    display:inline-block;
}

#bio {
    margin-top:0;
    position: relative;

}

#contact-info {
    text-align: center;
}

.photo-div {
    text-align: center;
}

.zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }