header {
    display: flex;
    justify-content: space-between;
    background-color: #4275f5;
    color: white;
    padding-left: 100px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none;
    padding-right: 100px;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
}

div {
    background-color: #F0EFEF;
}

.tabs {
    color: white;
    text-decoration: none;
    float: right;
}

.page-titles {
    text-align: center;
    margin: 0;
}

#project-photo {
    text-align: center;
}

#profile {
    text-align: center;
}

#profile-photo {
    display:inline-block;
}

#bio {
    margin-top:0;
    display: inline-block;
}

#contact-info {
    text-align: center;
}